<h1>Latest Feeds</h1>
<table width="100%">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= link_to feed.title , feed%></td>
    <td width = "7%"><%= feed.user.name %></td>
    <td width = "60%"><%= feed.body %></td>
    <% if signed_in? and (feed.user_id == current_user.id) %>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Delete', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if signed_in? %>
   <div class="feed_link">
     <%= link_to 'New Feed', new_feed_path %>
   </div>
<% end %>
