<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>
  <b>Private:</b>
  <%= @feed.private %>
</p>

<p>
  <b>Body:</b>
  <%= @feed.body %>
</p>

<% if signed_in? and (@feed.user_id == current_user.id) %>
  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>
<% end %>