<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= collection_select(:permission, :user_id, User.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :feed_id %><br />
    <%= collection_select(:permission, :feed_id, Feed.find(:all, :conditions => {:user_id => current_user, :private => true}), :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
