<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @permission.user_id %>
</p>

<p>
  <b>Feed:</b>
  <%= @permission.feed_id %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
